body {
	padding-top: 65px;
	margin-bottom: 2em;
}

.container {
	margin-top: -2em;
}

.drafting-table {
	margin-top: 5em;
 /*   border:3px solid #1E697B;*/
/*    padding: 10px;*/
/*    margin-left: 0px;*/
    position: fixed;

}


#measurement-table {
	font-family: "Raleway";
}

.header {
	height: 80px;
	margin-bottom: 15px;
	font-size: 30px;
}

.heading-titles {
	font-family: 'Pacifico', cursive;
	color: #EA8C86;
	margin-bottom: 0.5em;
}

.table-name {
	position: fixed;
}

#corner-logo{
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	text-decoration: none;
	text-shadow: 2px 2px #EA8C86;
	color: #7D1141;
}

#splash-header {
	text-shadow: 2px 2px #EA8C86;
	color: #7D1141;
	font-family: 'Pacifico', cursive;
	font-size: 100px;
	margin-bottom: 5px;
}

.content-splash {
	margin-top: 50em;
	width: 50%;
	margin: 0 auto;
	margin-top: 8em;
	font-family: "Raleway";
}

.navbar {
	font-family: "Raleway";
}

#beta {
	color: #EA8C86;
	text-shadow: 1px 1px #D3D3D3;
	font-family: "Raleway";
	margin-top: 0px;
}


footer {
	font-family: "Raleway";
	background-color: #EA8C86;
	position:fixed;
    left:0px;
    bottom:0px;
    height:20px;
    width:100%;
}

#footer-a {
	text-decoration: none;
	color: black;
	float: right;
}

#bustform {
	position: fixed;
    bottom: 0;
    right: 0;
    height: 80%;

}

#scaledBlock {
	height: 20in;
}

.drafting-table-front {
	height: 30em;
}

.drafting-table-back {
	height: 30em;
}


.raleway {
	font-family: "Raleway";
}

.instructions {
	font-size: 1.5em;
	margin-bottom: 1em;
}