#drafting-table {
	margin: auto;
    border:3px solid #1E697B;
    padding: 10px;
    margin-left: 0px;
}


#measurement-table {
	font-family: "Raleway";
}

.header {
	height: 80px;
	margin-bottom: 15px;
	font-size: 30px;
	
}

.heading-titles {
	font-family: 'Pacifico', cursive;
	color: #EA8C86;
	margin-bottom: 1em;
}

#corner-logo{
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	text-decoration: none;
	text-shadow: 2px 2px #EA8C86;
	color: #7D1141;
}

#splash-header {
	text-shadow: 2px 2px #EA8C86;
	color: #7D1141;
	font-family: 'Pacifico', cursive;
	font-size: 100px;
	margin-bottom: 5px;
}

.content-splash {
	margin-top: 50em;
	width: 50%;
	margin: 0 auto;
	margin-top: 8em;
	font-family: "Raleway";
}


#beta {
	color: #EA8C86;
	text-shadow: 1px 1px #D3D3D3;
	font-family: "Raleway";
	margin-top: 0px;
}

body {
	background-image: url("static/img/roughcloth.png");
}

footer {
	font-family: "Raleway";
	background-color: #EA8C86;
	position:fixed;
    left:0px;
    bottom:0px;
    height:20px;
    width:100%;
}

#footer-a {
	text-decoration: none;
	color: black;
	float: right;
}

#bustform {
	position: fixed;
    bottom: 0;
    right: 0;
    height: 80%;

}

#scaledBlock {
	height: 20in;
}