#drafting-table {
	margin: auto;
    border:3px solid #1E697B;
    padding: 10px;
    margin-left: 0px;
}


#measurement-table {
	margin-left: 50%;
	font-family: "Raleway";
}

#header {
	background-color: #E8E8EE;
	text-shadow: 2px 2px #EA8C86;
	color: #7D1141;
	height: 80px;
	margin-bottom: 15px;
	font-family: 'Pacifico', cursive;
	font-size: 100px;
}

#splash-header {
	text-shadow: 2px 2px #EA8C86;
	color: #7D1141;
	font-family: 'Pacifico', cursive;
	font-size: 100px;
	margin-bottom: 5px;
}

.content-splash {
	margin-top: 50em;
	width: 50%;
	margin: 0 auto;
	margin-top: 8em;
	font-family: "Raleway";
}

#beta {
	color: #EA8C86;
	text-shadow: 1px 1px #D3D3D3;
	font-family: "Raleway";
	margin-top: 0px;
}

footer {
	font-family: "Raleway";
	background-color: #EA8C86;
	position:fixed;
    left:0px;
    bottom:0px;
    height:20px;
    width:100%;
}

footer .p {
	text-align: right;
}