{% extends 'base.html' %}
{% block content %}
<div class='container raleway'>
	<center><h2 id="about-header">Pattern Drafting Terminology</h2></center>
	<div class="col-md-8 col-md-offset-2">
	<h3>Block</h3>
	A block is a template used to pattern draft different patterns. 
	<h3>Pattern</h3>
	A pattern is used as a template to cut ouf fabric to sew.
	<h3>What is Pattern Drafting?</h3>
	Pattern drafting is the process of taking a person's measurements and creates blocks which fit them. It is a very important part of fashion design!
	<h3>Blocks vs Patterns</h3>
	This app creates blocks which are used as templates. You trace the blocks and manipulate them to create patterns. To create a pattern out of you must add seam allowances!
</div>

{% endblock %}
