{% extends 'base.html' %}

{% block head %}
	<script src='static/js/functions.js'></script>
	<script src='static/js/measurements.js'></script>
	<script src='static/js/back-draft.js'></script>
	<script src='static/js/save-block.js'></script>
{% endblock %}


{% block content %}


<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h1 class="heading-titles table-name">Back</h1>
			<div class="table">
				<canvas id="drafting-table-back" class="drafting-table" width="461" height="461"></canvas>
			</div>
		</div>
	<div class="col-md-4 col-md-offset-2">
	<div id="measurement-table">
			<center><h3 class="heading-titles instructions">Change Measurements Below in Inches</h3></center>
			<form  action="/pattern" class="form-horizontal">
				<div class="row">

					<div class="form-group">
						<label for="full-length-back" class="col-sm-5 control-label">Full Length</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" step="0.01" name="full-length-back" placeholder="18.00" value="18.00">
						</div>
					</div>

					<div class="form-group">
						<label for="center-back" class="col-sm-5 control-label">Center Back</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" step="0.01" name="center-back" placeholder="17.25" value="17.25">
						</div>
					</div>

					<div class="form-group">
						<label for="back-shoulder-slope" class="col-sm-5 control-label">Shoulder Slope</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" step="0.01" name="back-shoulder-slope" placeholder="17.25" value="17.25">
						</div>
					</div>

					<div class="form-group">
						<label for="across-back" class="col-sm-5 control-label">Across Back</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" step="0.01" name="across-back" placeholder="7" value="7">
						</div>
					</div>

					<div class="form-group">
						<label for="back-shoulder-length" class="col-sm-5 control-label">Back Shoulder Length</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" step="0.01" name="back-shoulder-length" placeholder="5.5" value="5.5">
						</div>
					</div>

					<div class="form-group">
						<label for="back-arc" class="col-sm-5 control-label">Back Arc</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" step="0.01" name="back-arc" placeholder="7.5" value="7.5">
						</div>
					</div>

					<div class="form-group">
						<label for="waist-arc-back" class="col-sm-5 control-label">Waist Arc Back</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" step="0.01" name="waist-arc-back" placeholder="6.25" value="6.25">
						</div>
					</div>

					<div class="form-group">
						<label for="dart-placement" class="col-sm-5 control-label">Dart Placement</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" name="dart-placement" placeholder="3.25" value="3.25">
						</div>
					</div>

					<div class="form-group">
						<label for="back-neck" class="col-sm-5 control-label">Back Neck</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" step="0.01" name="back-neck" placeholder="3.25" value="3.25">
						</div>
					</div>

					<div class="form-group">
						<label for="back-across-shoulder" class="col-sm-5 control-label">Back Across Shoulder</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" step="0.01" name="back-across-shoulder" placeholder="7.63" value="7.63">
						</div> 
					</div>

					<div class="form-group">
						<label for="back-dart-intake" class="col-sm-5 control-label">Back Dart Intake</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" step="0.01" name="back-dart-intake" placeholder="1.25" value="1.25">
						</div> 
					</div>

					<input type="hidden" name="side-length" value="8.5">
					<input type="hidden" name="shoulder-length" value="5">

					<div class="form-group">
						<div class="col-md-4 col-md-offset-5">
							<button type="submit" class="btn btn-default">NEXT</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
