<!DOCTYPE html>
<html>
<head>
	<title>Pattern Pro</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	{% block head %}{% endblock %}
	<link href='http://fonts.googleapis.com/css?family=Lobster|Raleway' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="static/img/favicon.ico"/>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel='stylesheet' href='static/css/style.css'>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid" class="header">
			<a class="navbar-brand" id="corner-logo" href="/">Pattern Pro</a>
			<ul class="nav navbar-nav">	
				<li><a href="/start">Draft New Block</a></li>	
			{% if session['logged_in_customer_email'] is defined %}
                  <li><a href="/logout" id="logout">Log Out</a></li> 
                  <li><a href="/profile" id="profile">Profile</a></li> 
            {% else %}    
                  <li><a href="/login">Log In</a></li>
                {% endif %}
             </ul>
		</div>
	</nav>

	{% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}

	{% block content %}{% endblock %}
	<footer><a href="https://github.com/allisonkcraig" id="footer-a">app by Allison Craig</a></footer>
</body>
</html>