<!DOCTYPE html>
<html>
<head>
	<title>Pattern Pro</title>
	<script src="/static/js/jquery-1.11.3.min.js"></script>
	{% block head %}{% endblock %}
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" type="image/png" href="static/img/favicon.ico"/>
	<link rel='stylesheet' href='/static/css/style.css'>
	<link rel='stylesheet' href='/static/css/bootstrap.min.css'>
</head>
<body>	
	<!--script src="/static/js/fb.js"></script-->

	<script>
		 
	</script>
	<nav class="navbar navbar-default navbar-fixed-top">
		<!-- <div class="container-fluid" class="header"> -->
			<a class="navbar-brand" id="corner-logo" href="/">Pattern Pro</a>
			<ul class="nav navbar-nav">	

			{% if session['current_user_id'] is defined %}
				<li><a href="/choose-block">Draft New Block</a></li>	
                <li><a href="/logout" id="logout">Log Out</a></li>
                <li class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true" scope='public_profile,email'></li> 
                <li><a href="/profile" id="profile">Profile</a></li> 
            {% else %}    
                  <li><a href="/login">Log In</a></li>
                  <li><a href="/register">Register</a></li>
<!--                   <li><a href="/fb-login">Login with Facebook</a></li>
 -->                {% endif %}
             </ul>
	<!-- 	</div> -->
	</nav>
					<div
				  class="fb-like"
				  data-share="true"
				  data-width="450"
				  data-show-faces="true">
				</div>
	{% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}

	{% block content %}{% endblock %}
	<footer><a href="https://github.com/allisonkcraig" target="blank" id="footer-a">app by Allison Craig</a></footer>

</body>
</html>