{% extends 'base.html' %}
{% block content %}
<div class='container' id="first-page">
	<div id="measurement-table">
			<center><h2 class="heading-titles">Which Block Would You Like To Create?</h2></center>
			<br>
			



<div class="col-md-4 col-md-offset-2">
<a href="/start-top"><img class="type-icon" src="/static/img/top.png"></center></a>

</div>

<div class="col-md-3">

<a href="/start-skirt"><center><img class="type-icon" src="/static/img/Skirt.png"></center></a>


</div>



	
	</div>
</div>

{% endblock %}
