{% extends 'base.html' %}

{% block head %}
	<script src='static/functions.js'></script>
	<script src='static/measurements.js'></script>
	<script src='static/front-draft.js'></script>
	<script src='static/back-draft.js'></script>
	<script src='static/save-block.js'></script>
{% endblock %}


{% block content %}
	<h1>FRONT INFO</h1>
	{{ bust_input }}<br>
	{{ waist_input }}<br>
	<h1>FRONT INFO</h1>              
	{{full_length_input}}<br>
	{{center_front_input}}<br>
	{{front_shoulder_slope_input}}<br>
	{{strap_input}}<br>
	{{front_across_shoulder_input}}<br>
	{{across_chest_input}}<br>
	{{bust_depth_input}}<br>
	{{shoulder_length_input}}<br>
	{{bust_arc_input}}<br>
	{{bust_span_input}}<br>
	{{waist_arc_input}}<br>
	{{dart_placement_input}}<br>
	{{side_length_input}}<br>

	<h1>BACK INFO</h1>
	{{full_length_back_input}}
	{{center_back_input}}
	{{back_shoulder_slope_input}}
	{{across_back_input}}
	{{back_shoulder_length_input}}
	{{back_arc_input}}
	{{back_neck_input}}
	{{back_across_shoulder_input}}
	{{back_dart_intake_input}}

<div class="container">
	
	<div class="row">
		<div class="col-md-4">
			<h1 class="heading-titles">Front</h1>
			<div class="table">
				<canvas id="drafting-table-front" width="461" height="461"></canvas>
			</div>
		</div>

		<div class="col-md-4 col-md-offset-2">
			<h1 class="heading-titles">Back</h1>
			<div class="table">
				<canvas id="drafting-table-back" width="461" height="461"></canvas>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-4 col-md-offset-2 ">
			<button id="save-front" type="submit" class="btn btn-default bottom-button">DOWNLOAD</button>
		</div>

		<div class="col-md-4 col-md-offset-2 ">
			<button id="save-back" type="submit" class="btn btn-default bottom-button">DOWNLOAD</button>
		</div>
	</div>

</div>

{% endblock %}
