{% extends 'base.html' %}

{% block head %}
	<script src='static/js/functions.js'></script>
	<script src='static/js/measurements.js'></script>
	<script src='static/js/front-draft.js'></script>
	<script src='static/js/back-draft.js'></script>
	<script src='static/js/jspdf.min.js'></script>
	<script src='static/js/canvas2image.js'></script>

{% endblock %}


{% block content %}
<form action="/save">
	<button class="btn btn-default">SAVE</button>
</form>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h1 class="heading-titles">Front</h1><button id="save-front" type="submit" class="btn btn-default download-button">DOWNLOAD FRONT PDF</button> 
			<div class="table">
				<canvas id="drafting-table-front" class="drafting-table" width="461" height="461"></canvas>
			</div>
		</div>

		<div class="col-md-4 col-md-offset-2">
			<h1 class="heading-titles">Back</h1><button id="save-back" type="submit" class="btn btn-default download-button">DOWNLOAD BACK PDF</button>
			<div class="table">
				<canvas id="drafting-table-back" class="drafting-table" width="461" height="461"></canvas>
			</div>
		</div>
	</div>

<!-- 
	<div class="row">
		<div class="col-md-12 col-md-offset-12">
			
			<div class="table">
				<canvas id="drafting-table-front-large" class="drafting-table" width="1546" height="2001"></canvas>
			</div>
		</div>

		<div class="col-md-4 col-md-offset-2">
			<div class="table">
				<canvas id="drafting-table-back" class="drafting-table" width="1546" height="2001"></canvas>
			</div>
		</div>
	</div> -->

	<form>

		<!-- Front Measurements -->
		<input type="hidden" id="test" name="full-length" placeholder="{{ size_chart['full_length'] }}" value="{{ size_chart['full_length'] }}">
		<input type="hidden" name="center-front" placeholder="{{ size_chart['center_front'] }}" value="{{ size_chart['center_front'] }}">
		<input type="hidden" name="front-shoulder-slope" placeholder="{{ size_chart['front_shoulder_slope'] }}" value="{{ size_chart['front_shoulder_slope'] }}">
		<input type="hidden" name="strap" placeholder="{{ size_chart['strap'] }}" value="{{ size_chart['strap'] }}">
		<input type="hidden" name="front-across-shoulder" placeholder="{{ size_chart['front_across_shoulder'] }}" value="{{ size_chart['front_across_shoulder'] }}">
		<input type="hidden" name="across-chest" placeholder="{{ size_chart['across_chest'] }}" value="{{ size_chart['across_chest'] }}">
		<input type="hidden" name="bust-depth" placeholder="{{ size_chart['bust_depth'] }}" value="{{ size_chart['bust_depth'] }}">
		<input type="hidden" name="shoulder-length" placeholder="{{ size_chart['shoulder_length'] }}" value="{{ size_chart['shoulder_length'] }}">
		<input type="hidden" name="bust-arc" placeholder="{{ size_chart['bust_arc'] }}" value="{{ size_chart['bust_arc'] }}">
		<input type="hidden" name="bust-span" placeholder="{{ size_chart['bust_span'] }}" value="{{ size_chart['bust_span'] }}">
		<input type="hidden" name="waist-arc" placeholder="{{ size_chart['waist_arc'] }}" value="{{ size_chart['waist_arc'] }}">
		<input type="hidden" name="dart-placement" placeholder="{{ size_chart['dart_placement'] }}" value="{{ size_chart['dart_placement'] }}">
		<input type="hidden" name="side-length" placeholder="{{ size_chart['side_length'] }}" value="{{ size_chart['side_length'] }}">

		<!-- Back Measurements -->
		<input type="hidden" name="full-length-back" placeholder="{{ size_chart['full_length_back'] }}" value="{{ size_chart['full_length_back'] }}">
		<input type="hidden" name="center-back" placeholder="{{ size_chart['center_back'] }}" value="{{ size_chart['center_back'] }}">
		<input type="hidden" name="back-shoulder-slope" placeholder="{{ size_chart['back_shoulder_slope'] }}" value="{{ size_chart['back_shoulder_slope'] }}">
		<input type="hidden" name="across-back" placeholder="{{ size_chart['across_back'] }}" value="{{ size_chart['across_back'] }}">
		<input type="hidden" name="back-arc" placeholder="{{ size_chart['back_arc'] }}" value="{{ size_chart['back_arc'] }}">
		<input type="hidden" name="waist-arc-back" placeholder="{{ size_chart['waist_arc_back'] }}" value="{{ size_chart['waist_arc_back'] }}">
		<input type="hidden" name="back-neck" placeholder="{{ size_chart['back_neck'] }}" value="{{ size_chart['back_neck'] }}">
		<input type="hidden" name="back-across-shoulder" placeholder="{{ size_chart['back_across_shoulder'] }}" value="{{ size_chart['back_across_shoulder'] }}">
		<input type="hidden" name="back-dart-intake" placeholder="{{ size_chart['back_dart_intake'] }}" value="{{ size_chart['back_dart_intake'] }}">

	</form>

</div>

<!-- Hidden Canvases for printing large -->
<div class="row" id="hidden-canvas">
	<div class="col-md-4">
			
		<div class="table">
			<canvas id="drafting-table-front-large" class="drafting-table" width="1546" height="2001"></canvas>
		</div>
	</div>

	<div class="col-md-4 col-md-offset-2">
		<div class="table">
			<canvas id="drafting-table-back-large" class="drafting-table" width="1546" height="2001"></canvas>
		</div>
	</div>
</div>

<script>

$(document).ready(function(){
document.draftFrontCanvas("drafting-table-front-large",100);
document.draftFrontCanvas("drafting-table-front",20);
document.draftBackCanvas("drafting-table-back-large", 100)
document.draftBackCanvas("drafting-table-back", 20)

})

</script>
<script src='static/js/print-pattern.js'></script>
{% endblock %}
