{% extends 'base.html' %}
{% block content %}

<div class='container'>
	<div id="measurement-table">
		<div class="col-md-6">
			<h3>Enter Measurements Below in Inches</h3>
			<form  action="/pattern" method="POST" class="form-horizontal">
				<div class="row">
					<div class="form-group">
						<label for="full-length" class="col-sm-5 control-label">Full Length</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" id="full-length" placeholder="inches">
						</div>
					</div>
					<div class="form-group">
						<label for="center-front" class="col-sm-5 control-label">Center Front</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" id="center-front" placeholder="inches">
						</div>
					</div>
					<div class="form-group">
						<label for="inputWaist" class="col-sm-5 control-label">Full Length</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" id="inputWaist" placeholder="inches">
						</div>
					</div>
					<div class="form-group">
						<label for="shoulder-slope" class="col-sm-5 control-label">Shoulder Slope</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" id="shoulder-slope" placeholder="inches">
						</div>
					</div>
					<div class="form-group">
						<label for="strap" class="col-sm-5 control-label">Strap</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" id="strap" placeholder="inches">
						</div>
					</div>
					<div class="form-group">
						<label for="full-length" class="col-sm-5 control-label">Full Length</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" id="full-length" placeholder="inches">
						</div>
					</div>
					<div class="form-group">
						<label for="center-front" class="col-sm-5 control-label">Center Front</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" id="center-front" placeholder="inches">
						</div>
					</div>
					<div class="form-group">
						<label for="inputWaist" class="col-sm-5 control-label">Full Length</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" id="inputWaist" placeholder="inches">
						</div>
					</div>
					<div class="form-group">
						<label for="shoulder-slope" class="col-sm-5 control-label">Shoulder Slope</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" id="shoulder-slope" placeholder="inches">
						</div>
					</div>
					<div class="form-group">
						<label for="strap" class="col-sm-5 control-label">Strap</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" id="strap" placeholder="inches">
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-4 col-md-offset-5">
							<button type="submit" class="btn btn-default">Submit</button>
						</div>
					</div>
				</div>
			</form>
			</div>
		</div>
		<div id="bustform">
			<img src="static/img/bust-form.jpg">
		</div>
	</div>
</div>

{% endblock %}
