<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src='static/js/functions.js'></script>
	<script src='static/js/measurements.js'></script>
	<script src='static/js/front-draft.js'></script>
	<style type="text/css">
		#drafting-table-front {
			height:6900px;

		}
	</style>
</head>
<body>
How to print your block:
test page:
print on A4 paper
DO NOT SCALE YOUR BLOCK.
Each square should be an inch

<canvas id="drafting-table-front" class="drafting-table" width="461" height="461"></canvas>

</body>
</html>