{% extends 'base.html' %}
{% block content %}

<center><h1 class='heading-titles'>Hey, {{ user.fname }} !</h1></center>

<center><h3 class="raleway">Email: {{ user.email }}</h3></center>

{% if savedblocks %}

<center><h3 class="raleway">Your Saved Blocks: </h3></center>
<center><h4 class="raleway">click to reprint</h4></center>

{% for sblock in savedblocks %}

	<div class="saved-block">
		<center><a href='/print/{{sblock.chart_id}}'><h4>{{ sblock.nickname }}</h4></a></center>
		<input type="hidden" name="{{ sblock.chart_id }}" value="{{ sblock.chart_id }}">
		<center>
		
			<button class="btn btn-default delete-btn" value="{{ sblock.chart_id }}">DELETE BLOCK</button>

		</center>
	</div>

{% endfor %}
{% endif %}

<script>

function deleteBlock (evt) {
	evt.preventDefault();

	$.ajax({
		url: "/delete-block",
		data: {'chart-id':$(this).val()},
		type: "POST",
		success: function(response) {
			console.log(response)
		},
		error: function(error) {
			console.log('error')
		}
	});
	$(this).closest('.saved-block').remove();
}

$('.delete-btn').on('click', deleteBlock);

</script>

{% endblock %}