{% extends 'base.html' %}
{% block content %}

<center><h1 class='heading-titles'>Hey, {{ user.fname }} !</h1></center>
<br>
<center><i><h4 class="raleway">email: {{ user.email }}</h4></i></center>

{% if savedblockstops == [] and savedblocksskirts == [] %}
<br>
<br>
<center><h2 class="raleway">You have no saved blocks.</h2></center>
<center><h2 class="raleway">It is super easy to get started!</h2></center>
<br>
<center><form action="/choose-block">
	<button class="btn btn-default start-btn">lets draft!!</button>
</form></center>

{% endif %}



{% if savedblockstops %}
<center><h3 class="raleway">Your Saved Top Blocks: </h3></center>
<table class="table table-hover table-striped raleway">
	<th><center>Measurement Chart Name</center></th>
	<th></th>
	<th></th>
	<th></th>
	{% for sblocktop in savedblockstops %}
	<tr class="saved-block">
		<td><center><h4>{{ sblocktop.nickname }}</h4></center></td>
		
		<td><form action='/print-top/{{sblocktop.chart_id}}'>
			<button class="btn btn-default">PRINT BLOCK</button>
		</form></td>

		<td><form action='/edit-top/{{sblocktop.chart_id}}'>
			<button class="btn btn-default" value="{{ sblocktop.chart_id }}">EDIT BLOCK</button>
		</form></td>

		<td>
			<button class="btn btn-danger delete-btn-top" name='chart-id' value="{{ sblocktop.chart_id }}">DELETE BLOCK</button>
		</td>


	</tr>

	{% endfor %}
</table>
{% endif %}

{% if savedblocksskirts %}

<center><h3 class="raleway">Your Saved Skirt Blocks: </h3></center>
<table class="table table-hover table-striped raleway">
	<th><center>Measurement Chart Name</center></th>
	<th></th>
	<th></th>
	<th></th>
	{% for sblockskirt in savedblocksskirts %}
	<tr class="saved-block">
		<td><center><h4>{{ sblockskirt.nickname }}</h4></center></td>
		<td><form action='/print-skirt/{{sblockskirt.chart_id}}'>
			<button class="btn btn-default">PRINT BLOCK</button>
		</form></td>

		<td><form action='/edit-skirt/{{sblockskirt.chart_id}}'>
			<button class="btn btn-default" value="{{ sblockskirt.chart_id }}">EDIT BLOCK</button>
		</form></td>

		<td>
			<button class="delete-btn-skirt btn btn-danger" name='skirt-id' value="{{ sblockskirt.chart_id }}">DELETE BLOCK</button>
		</td>
	</tr>

	{% endfor %}
</table>
{% endif %}
<script src="static/js/delete-blocks.js"></script>



{% endblock %}