{% extends 'base.html' %}

{% block head %}
	<script src='static/js/functions.js'></script>
	<script src='static/js/skirt-draft.js'></script>
	{% if g.jasmine_tests %}
	<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/jasmine.css"></link>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/jasmine.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/jasmine-html.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/boot.js"></script>
    <script src="/static/js/functions-spec.js"></script-->
	{% endif %}
	<script>
		$(document).ready(function(){
			document.draftSkirtCanvas("drafting-table-skirt", 20);
			console.log("DRAFTING SKIRT")
		});
	</script>
{% endblock %}


{% block content %}

<div class="container">
		<div class="row">
		<div class="col-xs-12 col-md-6">
			<h1 class="heading-titles table-name">Front</h1>
			<div class="table">
				<span id="canvas-front">
				<canvas id="drafting-table-skirt" class="drafting-table working-table" width="461" height="461"></canvas>
				</span>
			</div>
		</div>


<!-- 
document.waist = 26 * document.scale; 
		document.hip = 37.5 * document.scale; -->



			<div class="col-xs-12 col-md-4">
				<div id="measurement-table">
				<center><h3 class="heading-titles instructions">Change Measurements Below in Inches</h3></center>
				<form  action="/print-skirt" class="form-horizontal" id="front-measurement-form">

						<div class="form-group">
							<label for="center-front-hip-depth" class="col-sm-6 control-label">Center Front Hip Depth</label>
							<div class="col-sm-4">
								<input type="number" class="form-control update-button" step="0.01" name="center-front-hip-depth" placeholder="9" value="9">
							</div>
						</div>

						<div class="form-group">
							<label for="front-hip-arc" class="col-sm-6 control-label">Front Hip Arc</label>
							<div class="col-sm-4">
								<input type="number" class="form-control update-button" step="0.01" name="front-hip-arc" placeholder="9" value="9">
							</div>
						</div>

						<div class="form-group">
							<label for="center-back-hip-depth" class="col-sm-6 control-label">Center Back Hip Depth</label>
							<div class="col-sm-4">
								<input type="number" class="form-control update-button" step="0.01" name="center-back-hip-depth" placeholder="8.75" value="8.75">
							</div>
						</div>

						<div class="form-group">
							<label for="back-hip-arc" class="col-sm-6 control-label">Back Hip Arc</label>
							<div class="col-sm-4">
								<input type="number" class="form-control update-button" step="0.01" name="back-hip-arc" placeholder="9.5" value="9.5">
							</div>
						</div>

						<div class="form-group">
							<label for="dart-placement" class="col-sm-6 control-label">Dart Placement</label>
							<div class="col-sm-4">
								<input type="number" class="form-control update-button" step="0.01" name="dart-placement" placeholder="3.25" value="3.25">
							</div>
						</div>

							<input type="hidden" name="waist" value="26">
					<input type="hidden" name="hip" value="36">

						<div class="form-group">
							<div class="col-md-4 col-md-offset-5">
								<button type="submit" class="btn btn-default">NEXT</button>
							</div>
						</div>
					</div>
					</div>

			

				</form>
			
		</div>
	</div>
</div>

{% endblock %}