<!DOCTYPE html>
<html>
<head>
	<title>EasyDrafter</title>
	<script src="/static/js/jquery-1.11.3.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	{% block head %}{% endblock %}
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" type="image/png" href="static/img/favicon.ico"/>
	<link rel='stylesheet' href='/static/css/style.css'>
	<link rel='stylesheet' href='/static/css/bootstrap.min.css'>
</head>
<body class="video-body">	

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" id="corner-logo" href="/">EasyDrafter</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav">    
				{% if session['current_user_id'] is defined %}
				<li><a href="/choose-block">Draft New Block</a></li>
				{% else %}    

				{% endif %}
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						New To Pattern Drafting?<span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a href="/videos">Video Resources</a></li>
							<li><a href="/about-drafting">Terminology</a></li> 
						</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				{% if session['current_user_id'] is defined %}
				<li><a href="/logout" id="logout">Log Out</a></li>
				<li><a href="/profile" id="profile">Profile</a></li> 
				{% else %}
				<li><a href="/login">Log In</a></li>
				<li><a href="/register">Register</a></li> 
				{% endif %} 
			</ul>

		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

				
	{% with messages = get_flashed_messages() %}
	{% for message in messages %}
		<div class="alert alert-warning">{{ message }}</div>
	{% endfor %}
	{% endwith %}

	<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
 	<center><h1 id="video-header">Video Resources</h1></center>
    <center><div id="player"></div></center>

    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');


      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
 		function onYouTubePlayerAPIReady() 
		{
        player = new YT.Player('player', 
        {
          height: '390',
          width: '640',
          playerVars: 
          {
            listType:'playlist',
            list: 'PLXTzyGjiAnbU4-t8EA-K3VUGvDU6NbOQc'
          }
        });
}
      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 60000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>


		<footer><a href="https://github.com/allisonkcraig" target="blank" id="footer-a">app by Allison Craig</a></footer>

</body>
</html>